.head-line {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.head-line svg {
    width: 430px;
}
.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
}
.menus button {
    border: none;
    background: none;
    margin: 5px;
}
.menus button:hover {
    background-color:aliceblue;
}
.news-img-size {
    max-width: 100%;                /* 부모 크기의 100% */
    max-height: 400px;
}
.news {
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
}
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.search {
    border: 2px solid lightgray;
    width: 50%;
    height: 2.2em;
    border-radius: 5px;
    margin-right: 10px;
}
.pagination {
    margin: 10px auto 50px;
    display: flex;
    justify-content: center;
}